
pcb/_out/superlyra_bom_jlc.csv
pcb/hotswap/1000h/Design not finalised.png
pcb/_out/superlyra_bom_jlc.csv
pcb/hotswap/_GerberOutput/superlyra-hs-B_Cu.gbl
pcb/hotswap/_GerberOutput/superlyra-hs-B_Mask.gbs
pcb/hotswap/_GerberOutput/superlyra-hs-B_Paste.gbp
pcb/hotswap/_GerberOutput/superlyra-hs-B_SilkS.gbo
pcb/hotswap/_GerberOutput/superlyra-hs-blackmask.zip
pcb/hotswap/_GerberOutput/superlyra-hs-bottom-pos.csv
pcb/hotswap/_GerberOutput/superlyra-hs-Cmts_User.gbr
pcb/hotswap/_GerberOutput/superlyra-hs-Edge_Cuts.gm1
pcb/hotswap/_GerberOutput/superlyra-hs-F_Cu.gtl
pcb/hotswap/_GerberOutput/superlyra-hs-F_Mask.gts
pcb/hotswap/_GerberOutput/superlyra-hs-F_Paste.gtp
pcb/hotswap/_GerberOutput/superlyra-hs-F_SilkS.gto
pcb/hotswap/_GerberOutput/superlyra-hs-NPTH-drl_map.gbr
pcb/hotswap/_GerberOutput/superlyra-hs-NPTH.drl
pcb/hotswap/_GerberOutput/superlyra-hs-PTH-drl_map.gbr
pcb/hotswap/_GerberOutput/superlyra-hs-PTH.drl
pcb/hotswap/_GerberOutput/superlyra-hs-top-pos.csv
pcb/hotswap/_GerberOutput/superlyra-hs.zip
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-B_Cu.gbl
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-B_Mask.gbs
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-B_Paste.gbp
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-B_SilkS.gbo
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-blackmask-padlogo.zip
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-Cmts_User.gbr
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-Edge_Cuts.gm1
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-F_Cu.gtl
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-F_Mask.gts
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-F_Paste.gtp
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-F_SilkS.gto
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-NPTH-drl_map.gbr
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-NPTH.drl
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-PTH-drl_map.gbr
pcb/hotswap/backplate_GerberOutput/superlyra-hs-backplate-PTH.drl
pcb/hotswap/plate_GerberOutput/_autosave-superlyra-hs-plate-B_Mask.dxf
pcb/hotswap/plate_GerberOutput/_autosave-superlyra-hs-plate-Edge_Cuts.dxf
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-B_Cu.gbl
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-B_Mask.dxf
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-B_Mask.gbs
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-B_Paste.gbp
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-B_SilkS.gbo
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-Cmts_User.gbr
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-Edge_Cuts.dxf
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-Edge_Cuts.gm1
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-F_Cu.gtl
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-F_Mask.gts
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-F_Paste.gtp
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-F_SilkS.gto
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-NPTH-drl_map.gbr
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-NPTH.drl
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-PTH-drl_map.gbr
pcb/hotswap/plate_GerberOutput/superlyra-hs-plate-PTH.drl
